@import url("./extras/scrollbar.css");
@import url("https://fonts.googleapis.com/css?family=Inter:200,300,400,500,600,700,800,900&display=swap");

@font-face {
    font-family: Canopee;
    src: url("./fonts/canopee.otf") format("opentype");
}

* {
    box-sizing: border-box;
    font-family: "Inter";
    --text-color: #111315;
    --background-color: white;
    --border-radius: 20px;
    --dark-background-color: white;
    --shadow: 0px 11px 2em 0px rgba(53, 53, 53, 0.082);
}

body,
html {
    overflow: overlay;
    cursor: default;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

h1 {
    font-weight: 900;
    font-size: 3em;
    margin: 0;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 500;
}

p {
    margin-top: 0px;
    font-weight: 300;
    color: var(--text-color) !important;
}

p,
h1,
h2,
h3,
a {
    color: var(--text-color);
    text-decoration-color: var(--text-color);
}

img {
    height: 100%;
    width: auto;
}

.img-special {
    box-shadow: var(--shadow);
    transition: 0.2s;
}

.img-special:hover {
    box-shadow: 0px 0px 2em 0px rgba(53, 53, 53, 0.411);
    margin: 10px;
}

button {
    border: none;
    color: var(--text-color);
    background-color: transparent;
    padding: 10px;
    font-weight: 300;
    cursor: pointer;
}

button:hover,
a:hover {
    color: var(--text-color);
    text-shadow: 1em white;
}

hr {
    color: var(--text-color);
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.spacer {
    display: flex;
    width: 100%;
    height: 120px;
}

.button-highlight {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    border-radius: var(--border-radius);
    transition: 0.2s, padding 1ms;
    outline: solid 2px var(--text-color);
    outline-offset: -2px;
}

.button-highlight:hover {
    color: var(--text-color) !important;
    background-color: transparent;
}

.horizontal-spacer {
    width: 20px;
}

.darker-container {
    background-color: var(--dark-background-color);
}

.center-child {
    display: flex;
    align-items: center;
}

/*
    BLUR EFFECT TRANSITION
*/

.blur-effect-transition {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 10;
    visibility: visible;
    animation: ease-out-blur forwards 0.5s;
}

@keyframes ease-out-blur {
    0% {
        backdrop-filter: blur(10px);
    }

    100% {
        backdrop-filter: blur(0px);
        visibility: hidden;
    }
}

/*
    TITLE FOR WEBPAGE
*/
.title-container-base {
    height: 300px !important;
}

.title {
    float: right;
    font-size: 6em !important;
    font-family: "Canopee";
}

.subtitle-container {
    float: right;
}

.subtitle-container p {
    text-align: right;
    margin-top: 25px;
    font-weight: 200;
}

.subtitle-container h3 {
    text-align: end;
}

.title-container {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
}

.centered-title-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    height: fit-content;
}

.center-subtitle-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-top: 40px;
}

/*
    SPACES
*/

.margin-left {
    margin-left: 45px;
}

.space-left {
    margin-left: 18px;
}

/*
    CONTAINER BASE
*/

.fullContainer {
    width: 100vw;
    height: fit-content;
    min-height: 500px;
    padding-left: 120px;
    padding-right: 120px;
}

.chrome-background {
    background-image: url("../img/images/chromatic.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation: chrome-background-move infinite 15s;
    background-size: 150%;
    box-shadow: var(--shadow);
}

@keyframes chrome-background-move {
    0% {
        background-position-x: 0px;
    }

    50% {
        background-position-x: -250px;
        background-position-y: -100px;
    }

    100% {
        background-position-x: 0px;
        background-position-y: 0px;
    }
}

/*
    NAVBAR
*/

.navbar {
    top: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.image-box {
    height: 100%;
    float: left;
    padding: 20px;
    padding-left: 0px;
}

.button-box {
    margin-left: auto;
    display: flex;
    flex-flow: row;
}

.arrow-container {
    float: left;
    margin-left: 18px;
}

.arrow-container img {
    height: 15px;
    width: 15px;
}

/*
    FOOTER
*/

.footer {
    width: 100%;
    height: 350px;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

.row-footer {
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: row;
}

.column-footer {
    width: 33%;
    height: 100%;
}

.column-footer h3 {
    font-weight: 600;
    font-size: 15px;
}

.outer-footer-logo {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: auto;
    height: 45px;
    padding-right: 100px;
}

.social-container {
    height: 30px;
    width: 100%;
    padding-right: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 12px;
    justify-content: center;
}

.social-container img {
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
}
