@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    --highlight-color: blue;
    --background-color: white;
    --middle-color: rgb(39, 39, 39);
    --foreground-color: black;
}

body, html {
    padding: 0px;
    margin: 0px;
}