@import url("./base.css");

@media (max-width: 575px) {
	.col-sm {
		padding: 0px !important;
		padding-top: 40px !important;
	}

	.col-sm-6 {
		padding: 0px !important;
		padding-top: 40px !important;
		border: none !important;
	}
}