.title-container {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
}

.centered-title-container {
    width: 100%;
    height: fit-content;
}

.title {
    font-size: 4.5em;
}

.subtitle-container {
    margin-left: 45px;
}

.container-left,
.container-right {
    width: 50%;
    height: 100%;
}

.container-left {
    float: left;
    padding-right: 5%;
}

.container-right {
    padding-left: 5%;
    float: right;
}

/*
    INNER CONTENT
*/

.title-highlighted {
    width: 100%;
    background-color: var(--text-color);
    height: 70px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding-left: 40px;
    min-width: 400px;
}

.title-highlighted h2 {
    color: var(--background-color);
}

.why-contract-subtitle {
    margin-top: 40px;
}

.space-top-column {
    width: 100%;
    height: 110px;
}

.tea-image-container {
    width: 100%;
    height: auto;
}

.tea-image-container img {
    width: 100%;
    height: auto;
    max-height: 571px;
    max-width: 428px;
    border-radius: var(--border-radius);
}

.center-faq-container {
    width: 100%;
    height: fit-content;
}

.question-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.question-container h3 {
    font-weight: 600;
}

.question-container p {
    margin: 0;
    margin-left: auto;
}

.margin-left {
    margin-left: 45px;
}

.faq-container {
    height: 600px;
}