.navbar {
	background-color: rgba(0, 0, 0, 0.308);
	backdrop-filter: blur(5px);
	height: 70px;
	position: fixed;
	padding-left: 300px;
	padding-right: 300px;
	border-bottom: solid 0.5px var(--middle-color);
	z-index: 9;
}

.inner-navbar {
	height: 100%;
	width: fit-content;

	display: flex;
	align-items: center;
}

.inner-navbar img {
	height: 70%;
}

.button-navbar {
	border: none;
	background-color: transparent;
	color: white;
	margin-left: 15px;
	font-weight: 300;
}

/*
    HOMESCREEN
*/

.start-homescreen {
	height: 100vh;
	background-image: url("../img/stars-background.png");
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-homescreen p {
	color: white;
	text-align: center;
}

.title-homescreen {
	color: white;
	font-family: "Tilt Warp";
	font-weight: 600;
	font-size: 120px;
	text-align: center;
}

.inner-homescreen {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.bottom-div {
	position: absolute;
	bottom: 0px;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.bottom-div h3 {
	color: white;
}

/*
	Sobre Section
*/

.sobre-quasar {
	width: 100%;
	height: fit-content;
}

.nebula-column img {
	height: 500px;
	width: 500px;
}

.sobre-texts {
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	align-items: end;
}

.sobre-texts h1,
p,
h2 {
	text-align: left;
}






.vertical-card img {
	padding-bottom: 20px;
	padding-top: 10px;
}





.avaliacao-usuario {
	display: flex;
	margin-bottom: 50px;
}

.avaliacao-usuario img {
	height: 100px;
	width: auto;
}

.avaliacao-usuario div {
	margin-left: 40px;
}


.finalizacao-container {
	background-image: url("../img/stars-background.png");
	background-size: cover;
	height: 60vh;
}
