@import url("./base.css");

.noticia-image {
	width: 100%;
	height: 100%;
	background-image: url(../img/noticia.png);
	background-size: cover;
}

@media (max-width: 575px) {
	.noticia-image {
		height: 300px !important;
	}
}
