@media screen and (max-width: 800px) {
    .title {
        font-size: 6.8em;
    }

    .fullContainer {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media screen and (max-width: 1100px) {
    .center-titles img {
        height: 90px !important;
    }

    .review-container-left {
        width: 100%;
        height: 40%;
    }

    .review-container-right {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .margin-left {
        margin-left: 0px !important;
    }

    html,
    body {
        overflow-x: hidden;
    }

    button {
        font-size: 12px;
    }

    .button-highlight {
        margin-left: 10px !important;
    }

    p {
        font-size: 15px;
        margin-left: 0px;
    }

    h1,
    h2,
    h3 {
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }

    .navbar {
        top: 5px;
    }

    .more-content-container img {
        max-width: 200px;
    }

    .more-content-container {
        display: flex;
        flex-flow: column;
    }

    .title-highlighted {
        min-width: unset;
        width: 100%;
    }

    .disable-height {
        height: 0px;
    }

    .title-container {
        padding-left: 20px;
        padding-right: 0px;
    }

    .client-logo-container img {
        max-height: 120px;
    }

    .why-contract-subtitle {
        margin-left: 10px !important;
    }

    .image-products {
        margin-top: 50px;
    }

    .client-logo-container {
        flex-flow: column;
    }

    .client-logo-container img {
        padding: 5px;
    }

    .chrome-background {
        background-size: 200%;
    }

    .image-box {
        height: 90%;
        max-width: 120px;
        padding-right: 0px;
        display: flex;
        align-items: center;
    }

    .faq-container {
        height: 400px;
    }

    .image-box img {
        height: auto;
        width: 100%;
    }

    .title {
        font-size: 3em;
    }

    .space-left {
        margin-left: 0px;
    }

    .centered-title-container-img {
        height: 85px !important;
    }

    .fullContainer {
        min-height: 600px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-left {
        padding-right: 10px;
        width: 100%;
    }

    .container-right {
        width: 100%;
        margin-left: 45px !important;
        padding-left: 10px;
    }

    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-logo {
        width: 100%;
        height: auto;
        padding: 0;
        max-height: 30px;
    }

    .social-container {
        height: 20px;
        padding: 0;
    }

    .column-footer h3 {
        margin-top: 0px;
    }

    .more-content-container img {
        height: 40%;
        width: auto;
    }

    .blur-element {
        padding: 10px;
    }

    .top {
        font-size: 10px;
    }
}
