@media screen and (max-width: 1400px) {
    .container-fluid {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .title-homescreen {
        font-size: 80px !important;
    }

    .button-navbar {
        margin-left: 5px !important;
    }

    .sobre-texts {
        margin-right: 0px !important;
    }

    .nebula-column {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .avaliacao-usuario {
        flex-flow: column;
    }

    .avaliacao-usuario img {
        width: 100px !important;
        margin-bottom: 30px;
    }

    .sobre-quasar {
        flex-flow: column !important;
    }
    
    .sobre-quasar-b {
        flex-flow: column !important;
    }
}

@media screen and (max-width: 767px) {
    .col-md-6 h2 {
        margin-top: 30px;
    }
}